html,
body {
	--accent-dark: #b42e0c;
	--accent-light: #e2500c;
	--yellow: #f8f5c3;
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
	box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: 0;
}
hr {
	border: none;
	border-top: 1px solid #afafaf;
}

img {
	max-width: 100%;
}

button, .btn {
	margin-top: 5px;
	background-color: var(--accent-light);
	color: #fff;
	padding: 5px;
	display: inline-block;
	border: none;
	cursor: pointer;
	font: inherit;
	text-decoration: underline;
}
button:hover, .btn:hover {
	text-decoration: none;
	background-color: var(--accent-dark);
}

fieldset {
	border: 2px solid var(--accent-light);

}
fieldset :last-child {
	margin-bottom: 0;
}
.group {
	margin-bottom: 10px;
}
.group :first-child {
	margin-right: 10px;
	width: 33%;
}
.group label {
	vertical-align: top;
}
input:not([type="checkbox"]),
select,
textarea {
	border: 1px solid var(--accent-light);
	border-radius: 0;
	padding: 5px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #ffffff;
	color: inherit;
}
input:not([type="checkbox"]):focus,
select:focus,
textarea:focus {
	outline: none;
	box-shadow: 0 0 0 4px var(--accent-light);
}
